#page-changePassword {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 760px;
  grid-template-areas: "h m";
}
#page-changePassword PageHeader {
  grid-area: m;
}
#page-changePassword main {
  background: var(--color-box-base);
  height: 100%;
  max-width: 50vw;
  grid-area: h;
}
#page-changePassword main .returnLogin {
  margin-left: -25rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
#page-changePassword main form {
  padding-left: 0rem;
  padding-top: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page-changePassword main fieldset {
  border: 0;
  padding: 0 4rem;
  max-width: 30rem;
}
#page-changePassword main fieldset + fieldset {
  margin-top: 6.4rem;
}
#page-changePassword main fieldset legend {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3rem;
  color: #32264d;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
}
#page-changePassword main fieldset h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.1rem;
  color: var(--color-text-base);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  width: 17rem;
  padding-bottom: 1.6rem;
}

#page-changePassword main fieldset .block {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 24px;
  text-align: right;
  color: var(--color-text-complement);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
}
#page-changePassword main fieldset .block h2 {
  margin-top: 1.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: right;
  color: #9c98a6;
}

#page-changePassword main fieldset .block .remeber {
  text-decoration: none;
}
#page-changePassword main button {
  width: 30rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-changePassword main button:disabled {
  background: var(--color-shape-desabled);
  color: var(--color-text-complement);
}
